<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h3>About Page served from template engine</h3>
        <img src="/img/robot.png">
        {{>footer}}
    </body>
</html>