<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <h3>About Page served from template engine</h3>
        <img src="/img/robot.png">
        <p>Made by {{name}}</p>
    </body>
</html>